<html>
<body link="#ff8800" vlink="#ff8800" alink="#ff8800">

	<p>This application was developed by <a href="http://my-it.at">Alexander Pacha</a> at the <a href="http://www.hitlabnz.org">Human Interface
			Technology Laboratory New Zealand</a> to demonstrate the
		capabilities of various sensors and sensor fusion approaches. Data
		from the Gyroscope, Accelerometer and compass are combined in
		different ways and the result is shown as a cube that can be rotated
		by rotating the device.</p>
	<p>
		The major novelty in this application is the fusion of virtual
		sensors: <b>Improved Orientation Sensor 1</b> and <b>Improved
			Orientation Sensor 2</b> fuse the Android Rotation Vector with the
		virtual Gyroscope sensor to achieve a pose estimation with a
		previously unknown stability and precision.
	</p>

	<p>Apart from these two sensors, the following sensors are
		available for comparison:</p>
	<ul>
		<li>Improved Orientation Sensor 1 (Sensor fusion of Android
			Rotation Vector and Calibrated Gyroscope - less stable but more
			accurate)</li>
		<li>Improved Orientation Sensor 2 (Sensor fusion of Android
			Rotation Vector and Calibrated Gyroscope - more stable but less
			accurate)</li>
		<li>Android Rotation Vector (Kalman filter fusion of
			Accelerometer + Gyroscope + Compass)</li>
		<li>Calibrated Gyroscope (Separate result of Kalman filter fusion
			of Accelerometer + Gyroscope + Compass)</li>
		<li>Gravity + Compass</li>
		<li>Accelerometer + Compass</li>
	</ul>

	<p>
		This application was developed for demonstrating the sensor fusion
		approach developed for the maker's <a
			href="http://my-it.at/index.php/publikationen">Master thesis</a> "Sensor fusion for robust outdoor Augmented Reality tracking on mobile
		devices"
		<a href="http://my-it.at/media/MasterThesis-Pacha.pdf">(download)</a> at the <a href="http://www.hitlabnz.org">Human Interface
			Technology Laboratory New Zealand</a>
	</p>

	<p>Long-click on a cube to temporarily change into the space-mode for this fusion.</p>

	<p>
		The source-code is publicly available at <a
			href="https://bitbucket.org/apacha/sensor-fusion-demo/">Bitbucket</a>
		and licensed under the MIT license.
	</p>
	
	<p>
		Contributors:
		<ul>
			<li>Forked from<a href="https://github.com/renaudcerrato">Cerrato Renaud</a></li>
		</ul>
	</p>
</body>
</html>